@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

.Header {
    font-family: 'Fredoka', sans-serif;
    color: #9fef00;
    font-size: 3em;
    text-transform: uppercase;
}

.Header .aside {
    color: #ff3e3e;
}


@media screen and (max-width: 800px) {
    .Header {
        
        font-size: 1.5em;
    }
}