:root {
  --red: #ff3e3e;
  --honeydew:#f1faee;
  --neutral: #f3f5f2;
  --light-blue: #a8dadc;
  --medium-blue: #5cb2ff;
  --dark-blue: #004cff;
  --almost-black: #;
  --decor-font: 'Secular One', Arial, Helvetica, sans-serif;
  --fg-color: #a4b1cd
}

* {
  box-sizing: border-box;
}

body {
  background-color: #141d2b;
  color: #181a1e;
  font-family: 'Secular One', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.mainContainer {
  max-width: 1200px;
  width: 95%;
  border-radius: 5px;

  background-color: #111927;
  padding: 1em;
  border-radius: 0%;
  box-shadow:
  5px 0 40px #9fef00;         /* outer right cyan */

  margin: 0 auto;
}

.cardHeader {
  position: relative;
}
.cardTitle {
  color: #9fef00;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0 0 0.25em;
  letter-spacing: 0.15em;
}
.resetButton {
  font-family: 'Secular One', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  outline: none;
  border: none;
  background-color: #9fef00;
  color: #f3f5f2;
  margin-bottom: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 800px) {
  .resetButton {
    position: relative;
  }
}